/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body #navbar {
  background-color: #0a233d;
  margin: 0 auto;
}
/* line 15, ../sass/screen.scss */
body #navbar div {
  display: inline-block;
}
/* line 21, ../sass/screen.scss */
body header #logo {
  display: inline-block;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 160px;
}
/* line 29, ../sass/screen.scss */
body header #logo img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 35, ../sass/screen.scss */
body header #libero {
  display: inline-block;
  margin-right: 50px;
  margin-left: 30px;
}
/* line 39, ../sass/screen.scss */
body header #libero img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 45, ../sass/screen.scss */
body header #container {
  display: inline-block;
  margin-right: 200px;
}
/* line 54, ../sass/screen.scss */
body header #container li {
  display: inline;
}
/* line 58, ../sass/screen.scss */
body header #container a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline;
  font-family: Arial Rounded MT Bold, Tahoma, Geneva, sans-serif;
  font-size: 25px;
  text-align: right;
  padding: 10px;
  letter-spacing: 4px;
  margin-right: 10px;
}
/* line 70, ../sass/screen.scss */
body header #container a:hover {
  color: red;
}
/* line 75, ../sass/screen.scss */
body header #search {
  margin-left: 160px;
  position: relative;
}
/* line 78, ../sass/screen.scss */
body header #search img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 86, ../sass/screen.scss */
body #buttonContainer1 {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  position: relative;
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 80px;
}
/* line 101, ../sass/screen.scss */
body #outermost {
  border: 2px solid black;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-left: 18px;
  margin-top: 2.5px;
  position: absolute;
}
/* line 112, ../sass/screen.scss */
body #outer {
  border: 2px solid black;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-top: 3px;
  position: absolute;
}
/* line 124, ../sass/screen.scss */
body #button1 {
  position: absolute;
  visibility: visible;
  margin-left: 24px;
  margin-top: 9px;
}
/* line 133, ../sass/screen.scss */
body #buttonContainer2 {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  float: left;
  position: relative;
  margin-top: 30px;
  margin-left: 220px;
}
/* line 145, ../sass/screen.scss */
body #outermost2 {
  border: 2px solid black;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-left: 18px;
  margin-top: 2.5px;
  position: absolute;
}
/* line 157, ../sass/screen.scss */
body #outer2 {
  border: 2px solid black;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-top: 3px;
  position: absolute;
}
/* line 169, ../sass/screen.scss */
body #button2 {
  position: absolute;
  visibility: visible;
  margin-left: 24px;
  margin-top: 8px;
}
/* line 176, ../sass/screen.scss */
body .clickbutton {
  float: right;
  margin-right: -45px;
  color: orange;
  font-weight: bolder;
}

/* line 185, ../sass/screen.scss */
.mylabel {
  color: red;
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  float: left;
  position: relative;
  margin-top: 30px;
  margin-left: 220px;
}

/* line 196, ../sass/screen.scss */
input[type=radio] {
  visibility: hidden;
}

/* line 200, ../sass/screen.scss */
input[type=radio]:checked + label {
  color: black;
  background-color: #3a3c20;
  border: solid 2px black;
}

/*
///----------------------------------------

.divLine {
  height: $height / 13;
  width: $width;
  //border: solid;
  margin: $marg;
  background-color: #6495ed ;
}

.sec {
  height: $height / 1.5;
  width: $width;
  //border: solid black;
  margin: $marg;
  background-size: cover;
  opacity: .8;
}

.secP {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  font-family: $ffam;
}

.divP {
  height: $height / 3;
  width: $width;
  //border: solid;
  margin: $marg;
  font-size: 23px;
  font-family: $ffam;
  color: gray;
}

.aLink {
  background-color: #6495ed ;
  text-decoration: none;
  padding: 3px 10px 6px;
  font-size: 14px;
  font-family: $ffam;
  font-weight: bold;
  color: white;
}

.divBlacken {
  height: $height / 1.5;
  width: 100%;
  background-color: #000;
  opacity: .65;
}

//proper
.divWhole {
  border-left: solid gray;
  height: $height * 3;
  width: 30%;
  float: right;
  padding-left: 20px;
  margin-top: 50px;

  header{
    //border: solid;
    width: $width;
    color: $defcolr;
    font-size: 32px;
    font-family: $ffam;
    font-weight: bold;
    margin: $marg;
  }

  #divLine {
    @extend .divLine;

  }

  #section {
    @extend .sec;
    background-image: url(../images/imgI.jpeg);
  }

  #section2 {
    @extend .sec;
    background-image: url(../images/1c.jpeg);
  }

  #secP {
    @extend .secP;
  }

  #divP {
    @extend .divP;
  }

  #aLink {
    @extend .aLink;
  }

  #divBlacken {
    @extend .divBlacken;
  }
}

*/
