/* Welcome to Compass.
 * In this file you sh * Import this file using the following HTML or equivalent:
ould write your main styles. (or centralize your imports)
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
.divLine, .divWhole #divLine {
  height: 12.30769px;
  width: 55%;
  margin: 10px;
  background-color: #6495ed;
}

/* line 24, ../sass/screen.scss */
.sec, .divWhole #section, .divWhole #section2 {
  height: 106.66667px;
  width: 55%;
  margin: 10px;
  background-size: cover;
  opacity: .8;
}

/* line 33, ../sass/screen.scss */
.secP, .divWhole #secP {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  font-family: "Calibri";
}

/* line 41, ../sass/screen.scss */
.divP, .divWhole #divP {
  height: 53.33333px;
  width: 55%;
  margin: 10px;
  font-size: 23px;
  font-family: "Calibri";
  color: gray;
}

/* line 51, ../sass/screen.scss */
.aLink, .divWhole #aLink {
  background-color: #6495ed;
  text-decoration: none;
  padding: 3px 10px 6px;
  font-size: 14px;
  font-family: "Calibri";
  font-weight: bold;
  color: white;
}

/* line 61, ../sass/screen.scss */
.divBlacken, .divWhole #divBlacken {
  height: 106.66667px;
  width: 100%;
  background-color: #000;
  opacity: .65;
}

/* line 69, ../sass/screen.scss */
.divWhole {
  border-left: solid gray;
  height: 480px;
  width: 30%;
  float: right;
  padding-left: 20px;
  margin-top: 50px;
}
/* line 77, ../sass/screen.scss */
.divWhole header {
  width: 55%;
  color: #0a233d;
  font-size: 32px;
  font-family: "Calibri";
  font-weight: bold;
  margin: 10px;
}
/* line 92, ../sass/screen.scss */
.divWhole #section {
  background-image: url(../images/imgI.jpeg);
}
/* line 97, ../sass/screen.scss */
.divWhole #section2 {
  background-image: url(../images/1c.jpeg);
}
